@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: Poppins;
  src: url("assets/fonts/poppins-regular.ttf") format("opentype");
}

@font-face {
  font-family: Aubette;
  src: url("assets/fonts/aubette.ttf") format("opentype");
}

@font-face {
  font-family: Bandal;
  src: url("assets/fonts/bandal.ttf") format("opentype");
}

@font-face {
  font-family: Bricolage;
  src: url("assets/fonts/bricolage.ttf") format("opentype");
}


@layer base {
  code {
    @apply bg-base-300;
  }
}